.full{
    height: 70vh;
    width: 70vw;
    background-image: url(https://wallpaperaccess.com/full/42331.jpg);
    background-size: cover;
    padding-top: 10%; 
    padding-left: 10%;  

}
.two{
    height: 50vh;
    width: 50vw;
background-color: aquamarine;
}